# Gradle
.gradle
build/
!**/src/**/build/

# Paperweight
run/
!**/src/**/run/

# Cardstock
/cardstock-api/
/cardstock-server/

# None of the above apply to registry
!/registry/**

# JetBrains IDEs
.idea
*.iml
